<div class="toolbar">
    <h2>Create new poll</h2>
</div>
<form method="POST">
    <div>
        <div class="fieldWrapper">
            <label for="id_name">Name:</label>
            <input type="text" name="name" id="id_name" placeholder="the-poll-name" value="{{name}}">
        </div>
        <div class="fieldWrapper">
            <label for="id_start_time">Start Time:</label>
            <input type="datetime" name="start_time" id="id_start_time" placeholder="{{now}}" value="{{start_time}}">
            <span>(e.g 2010-08-27 14:35:00)</span>
        </div>
        <div class="fieldWrapper">
            <label for="id_duration">Duration:</label>
            <input type="number" min=0 max=1440 name="duration" id="id_duration" placeholder="(minutes)" value="{{duration}}">
            <span>(minutes)</span>
        </div>

        {% if edit %}
        <div class="fieldWrapper">
            <span>Party is not available to edit</span>
        </div>
        {% else %}
        <div class="fieldWrapper">
            <label for="id_political_party">Political Party:</label>
            <select id="id_political_party" name="political_party">
                {% for item in politicalparties %}
                <option value="{{item.id}}">{{item.name}}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        <p><label for="id_submit"><input id="id_submit" type="submit" name="create" value="Create" /></label></p>
    </div>
</form>